<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <title>{{ .Name }}</title>
    <base href="/{{ .Path }}/" >

    <script src="/app.js" ></script>
</head>

<body class="container-fluid" onload="load({{ len .Teams }})" >
    <header class="grid">
        <h2>{{ .Name }}</h2>
        <small><a role="button" href="teams.ics">subscribe to calendar</a></small>
    </header>
    <main id="table-games">
    </main>
    <footer class="">
        Created for {{ .Name }}
    </footer>

</body>
</html>