<!DOCTYPE html data-theme="light">
<html data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <title>Crossfire Coaches</title>
    <base href="/" />
</head>

<body class="container-fluid">
    <header>
        <h2>Crossfire Coaches</h2>
    </header>
    <main>
        <div class="grid">
            {{ range $key, $value := . -}}
            <div>
                <article>
                    <header class="grid">
                        <h5 class="card-title">{{ $value.Name }}</h5>
                        <a role="button" href="/{{ $value.Path }}">Schedule</a>
                    </header>
                    <ul class="grid">
                        {{- range $team := $value.Teams -}}
                        <li>{{ $team.Name }}</li>
                        {{- end }}
                    </ul>
                </article>
            </div>
            {{- end }}
        </div>
    </main>
    <footer>
        Created for Crossfire Coaches
    </footer>
</body>

</html>